*{
  box-sizing: border-box;
}
html, body {
  width: 100%;
  overflow-x: hidden;  /* Prevents horizontal scroll */
  scroll-behavior: smooth;
  touch-action: manipulation; /* Stops unwanted scrolling */
  user-select: none; /* Prevents accidental text selection */
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'Marlboro';
    src: url('./assets/fonts/Marlboro.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Marvel';
    src: url('/assets/fonts/MarvelRegular-Dj83.ttf') format('truetype');
  }
  @font-face {
    font-family: 'robo';
    src: url('./assets/fonts/Bruce Forever.ttf') format('truetype');
  }
  @font-face {
    font-family: 'kungfu';
    src: url('/assets/fonts/KungFuMasterExpanded-X32x2.otf') format('truetype');
  }



  @font-face {
    font-family: 'objectsans';
    src: url('/assets/fonts/ObjectSans-Regular.otf') format('truetype');
  }
  @font-face {
    font-family: 'Akira';
    src: url('/assets/fonts/Akira Expanded Demo.otf') format('truetype');
  }

  @font-face {
    font-family: 'PermanentMarker';
    src: url('../public/assets/fonts/PermanentMarker.ttf') format('truetype');
  }


  @font-face {
    font-family: 'robot';
    src: url('../public/assets/fonts/square_sans_serif_7.ttf') format('truetype');
  }


/* Mobile-only animation */
@media (max-width: 768px) {
  .animate-mobile-scroll {
    display: inline-flex;
    animation: scrollLeft 10s linear infinite;
    white-space: nowrap; /* Prevent wrapping */
  }

  .animate-mobile-scroll > a {
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .animate-mobile-scroll > a:hover {
    transform: scale(1.1) rotateY(10deg);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
}

/* Disable the animation for larger screens */
@media (min-width: 769px) {
  .animate-mobile-scroll {
    animation: none; /* Disable animation on large screens */
  }
}


