@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'Marlboro';
    src: url('./assets/fonts/Marlboro.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Marvel';
    src: url('/assets/fonts/MarvelRegular-Dj83.ttf') format('truetype');
  }

  @font-face {
    font-family: 'kungfu';
    src: url('/assets/fonts/KungFuMasterExpanded-X32x2.otf') format('truetype');
  }



  @font-face {
    font-family: 'objectsans';
    src: url('/assets/fonts/ObjectSans-Regular.otf') format('truetype');
  }
  @font-face {
    font-family: 'Akira';
    src: url('/assets/fonts/Akira Expanded Demo.otf') format('truetype');
  }
 .golden-btn + .golden-btn { margin-top: 1em; }

.golden-btn {
  display: inline-block;
  outline: none;
  font-family: inherit;
  box-sizing: border-box;
  border: none;
  border-radius: .3em;
  height: 2.75em;
  line-height: 2.5em;
  text-transform: uppercase;
  padding: 0 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px rgba(139,66,8,1),
              inset 0 -1px 1px 3px rgba(250,227,133,1);
  background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
  border: 1px solid #a55d07;
  color: rgb(120,50,5);
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  cursor: pointer;
  transition: all .2s ease-in-out;
  background-size: 100% 100%;
  background-position:center;
}
.golden-btn:focus,
.golden-btn:hover {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23),
                inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1);
  border: 1px solid rgba(165,93,7,.6);
  color: rgba(120,50,5,.8);
}
.golden-btn:active {
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1);
}


/* Mobile-only animation */
@media (max-width: 768px) {
  .animate-mobile-scroll {
    display: inline-flex;
    animation: scrollLeft 10s linear infinite;
    white-space: nowrap; /* Prevent wrapping */
  }

  .animate-mobile-scroll > a {
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .animate-mobile-scroll > a:hover {
    transform: scale(1.1) rotateY(10deg);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
}

/* Disable the animation for larger screens */
@media (min-width: 769px) {
  .animate-mobile-scroll {
    animation: none; /* Disable animation on large screens */
  }
}


